*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* Common Style */
.nav-bar-icon {
    display: none;
}

:root {
    --bg-primary-clr: #1A0B2E;
    --bg-secondary-clr: #230E3D;

    --bg-card-Primary-clr: #2A0F4D;
    --hv-primary-card:#2e1153;

    --bg-card-secondary-clr: #250D44;
    --hv-secondary-card:#290953d6;

    --wh-clr: #FFF;
    --secondary-text-clr: #D1CED5;
    --special-clr: #00FF88;

    --linear-clr-1:rgba(247, 233, 63, 1);
    --linear-clr-2:rgba(251, 9, 180, 1);
    --linear-clr-3:rgba(145, 0, 248, 1);
    
    --nav-border-line-clr:#412567;
    --border-line-clr: #ffffff25;
    --icon-border: #533C72;
}

.section-center {
    width: 88%;
    max-width: 1130px;
    margin: 0 auto;
}

.mixed-text-clr{
    background-image: linear-gradient(to top, var(--linear-clr-1), var(--linear-clr-2), var(--linear-clr-3) );

    /* Code for - Set the 3 different color just apply into text color */
    -webkit-background-clp: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    padding: 0.7rem 1rem;
    border-radius: 10rem;
    border: none;
    color: var(--wh-clr);
    background-image: linear-gradient(to right, var(--linear-clr-1), var(--linear-clr-2), var(--linear-clr-3) );
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s linear;
    box-shadow: 
        0 0 3px var(--linear-clr-1), 
        0 0 3px var(--linear-clr-2), 
        0 0 3px var(--linear-clr-3);
}

.btn:hover {
    transform: scale(1.015);

}

.btn i {
    margin-left: 0.2rem;
}

/* Header-Section | Navber-Section Code Start Here -- */
nav {
    background-color: var(--bg-primary-clr);
    border-bottom: 0.09375rem solid var(--nav-border-line-clr);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}

/* Nav-logo-part */
.nav-container
.nav-logo h2 {
    font-size: 2.1875rem;
    color: var(--wh-clr);
    font-weight: 800;
    letter-spacing: 0.03125rem;
}

/* Nav-links-part */
.nav-links ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-links a {
    color: var(--wh-clr);
    font-size: 0.9rem;
}


/* Hero-Section  */




/* Hero-Section Styling */
.hero-section {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
}

.hero-img-container {
    position: relative;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-circle-img img {
    position: absolute;
    width: 260px;
}

.hero-microphone-img img {
    position: absolute;
    width: 90px;
}

.hero-imgs {
    position: absolute;
    left: 50%;
    top: 55%;
}

.hero-circle-img img,
.hero-microphone-img img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.small-msg-btn p {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    background-color: var(--special-clr);
    padding: 0.55rem 1rem;
    border-radius: 10rem;
    left: 50%;
    top:50%;
    /* Fix the msg top right corner */
    transform: translate(calc(-50% + 90px), calc(-50% - 85px));
}

/* Hero-Content */
.hero-content {
    text-align: center;
    color: var(--wh-clr);
    padding: 1.5rem 0 3rem;
}

.hero-content h1 {
    font-size: 2.7rem;
}

.hero-content p {
    font-size: 0.8rem;
    color: var(--secondary-text-clr);
    margin: 0.6rem 0 1rem;
}

.hero-content .btn {
    padding: 0.55rem 1rem;
}

.trans-btn {
    background-color: transparent;
    color: var(--special-clr);
    border: 1px solid var(--special-clr);
    padding: 0.55rem 1rem;
    border-radius: 10rem;
    margin-left: 0.4rem;
    transition: all 0.3s linear;
    cursor: pointer;
}

.trans-btn:hover {
    transform: scale(1.03);
}



/* Main-Section | About-Section  */
.about-section {
    background-color: var(--bg-primary-clr);
    color: var(--wh-clr);
    margin-top: -1px;
    padding-block: 60px;
}

.about-text {
    text-align: center;
}

.about-text h2 {
    font-size: 2.4rem;
}

.about-text p {
    font-size: 0.8rem;
    color: var(--secondary-text-clr);
    max-width: 60%;
    margin: 0.7rem auto 0;
    line-height: 1.5625rem;
}

#about-text-btm-para {
    margin: 1.2rem auto 2.5rem;
}


/* Ratings Part */
.rating-container {
    border-top: 1px solid var(--border-line-clr);
    padding-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.rating-box h2 {
    color: var(--special-clr);
    font-size: 2.4rem;
}

.rating-box h2>span {
    font-size: 3rem;
}

.rating-box h2>#star-icon {
    margin-left: 5px;
}

.rating-box p {
    color: var(--secondary-text-clr);
    font-size: 0.8rem;
}



/* Choose-Section */
.choose-section {
    background-color: var(--bg-secondary-clr);
    color: var(--wh-clr);
    padding-block: 5rem;
    margin-top: -1px;
}

.choose-container>h2{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
    color: var(--wh-clr);
}

/* Choose-Cards-Container */
.choose-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 220px);
    grid-gap: 1.5rem;
}

.choose-cards {
    background-color: var(--bg-card-Primary-clr);
    padding: 2.5rem 2rem;
    border-radius: 2.5rem;
    align-content: center;
    transition: all 0.2s linear;
}

.choose-cards:hover {
    background-color: var(--hv-primary-card);
}

.card-1 {
    grid-row: span 2;
}

.card-2 {
    grid-column: span 2;
}

.card-3 {
    grid-column: span 2;
}

.card-4 {
    grid-column: span 2;
}

.choose-cards img {
    width: 2.4rem;
}

.choose-cards h3 {
    font-size: 1.3rem;
    color: var(--wh-clr);
    margin-block: 0.8rem;
}

.choose-cards p {
    font-size: 0.8rem;
    color: var(--secondary-text-clr);
    max-width: 90%;
    line-height: 1.2rem;
    opacity: 0.8;
}

.card-4>i {
    font-size: 2.4rem;    
}



/* Episode-Section */
.episode-section {
    background-color: var(--bg-primary-clr);
    background-color: #1A0B2E;
    color: var(--wh-clr);
    margin-top: -1px;
    padding-block: 4.5rem;
}

.ep-container>h2 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
    color: var(--wh-clr);
}

.ep-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.8rem;
}

.ep-card {
    background-color: var(--bg-card-secondary-clr);
    border-radius: 2rem;
}

.ep-vedio-link iframe {
    width: 100%;
    height: 220px;
    border-top-left-radius: 2rem ;
    border-top-right-radius: 2rem;
}

.ep-card-content {
    padding: 1rem;
    height: 200px;
    max-width: 300px;
}

.ep-card-content h2 {
    font-size: 1.2rem;
}

.ep-card-content p {
    color: var(--secondary-text-clr);
    font-size: 0.9rem;
    margin-block: 1rem;
    line-height: 1.3rem;
    opacity: 0.8;
}

.ep-card-content h4 {
    color: var(--special-clr);
    font-size: 1rem;
}



/* Host-Section */
.host-section {
    background-color: var(--bg-primary-clr);
    background-color: #1A0B2E;
    color: var(--wh-clr);
    margin-top: -1px;
    padding-bottom: 4.5rem;
}

.host-container>h2 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
    color: var(--wh-clr);
    padding-top: 1.5rem;
}

.host-img img {
    width: 100%;
    object-fit: cover;
}

.host-content {
    background-color: var(--bg-card-secondary-clr);
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
}

.host-text-content {
    max-width: 80%;
    margin-left: 1.5rem;
}

.host-text-content h2 {
    font-size: 1.8rem;
    color: var(--wh-clr);
}

.host-text-content p {
    color: var(--secondary-text-clr);
    font-size: 0.85rem;
    margin-block: 1rem;
    opacity: 0.8;
}

.host-links {
    display: flex;
}

.host-links
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1.5px solid var(--icon-border);
    margin-right: 0.5rem;
    transition: all 0.3s linear;
    cursor: pointer;

}

.host-links i {
    font-size: 1rem;
}

.host-links
.link:hover {
    background-color: var(--hv-secondary-card);
    transform: scale(1.05);
}
